<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Settings Page</title>
</head>
<body>
    <!--Navbar for settings link-->
    <nav>
        <a href="/author/">Author Home</a>
        <a href="/author/settings">Settings</a>
    </nav>
    <!-- Make it clear that this is the **Author** not the **User** Home page-->
    <h1>Welcome to the Author's <b>Settings</b> Page</h1>
    <h2>Change Settings</h2>
    <% if (errors) { %>
        <p>
            <b>Error - could not submit new settings: </b><%= errors[0].msg %>
            <!--Gives the user the option to go back to previous settings if error occurs-->
            <a href="/author/settings">Go Back to Previous Settings</a>
        </p>
    <%} %>
    <form method="POST" action="/author/settings">
        <label for="title">Blog Title:</label>
        <input type="text" name="title" id="title" value="<%= blog.title %>">
        <label for="subtitle">Blog Subtitle:</label>
        <input type="text" name="subtitle" id="subtitle" value="<%= blog.subtitle %>">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="<%= blog.author %>">
        <br>
        <br>
        <input type="submit" value="Save Settings"/>
    </form>
    <a href="/author/">Back to Author Homepage</a>
</body>
</html>
