<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
</head>
<body>
    <!--Navbar for settings link-->
    <nav>
        <a href="/author/">Author Home</a>
        <a href="/author/settings">Settings</a>
    </nav>
    <!-- Make it clear that this is the **Author** not the **User** Home page-->
    <h1>Welcome, Author! This is the <b>Edit Article</b> Page</h1>
        <% if (article.title) { %>
            <h2>Article Title: <%= article.title %> </h2>
        <% } else { %>
            <h2>Untitled Article</h2>
        <% } %>
    <h3>Created: <%= article.datetime_created %> (GMT) </h3>
</body>
</html>
