<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/output.css" />
    <title>Welcome Page</title>
</head>
<body class="bg-gradient-to-br from-amber-300 via-emerald-200 to-blue-300">
    <div class="flex h-screen justify-center items-center">
        <div class="grid justify-center text-center gap-12">
            <div>
                <h1 class="font-lobster text-6xl">Welcome</h1>
                <h2 class="font-opensans text-3xl">BlogDragon: Microblogging Tool</h2>
            </div>
            <div class="grid gap-4 sm:flex justify-center sm:space-x-12 md:space-x-24">
                <button class="p-2.5 rounded-lg bg-blue-800 text-white font-opensansbold shadow-md shadow-zinc-800
                    hover:bg-blue-950">
                    <a class="hover:text-blue-100 hover:no-underline" href="author/">
                        Author Section
                    </a>
                </button>
                <button class="p-2.5 rounded-lg bg-emerald-800 text-white font-opensansbold shadow-md shadow-zinc-800
                    hover:bg-emerald-950">
                    <a class="hover:text-emerald-100 hover:no-underline" href="reader/">
                        Reader Section
                    </a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>

