@tailwind base;


/*DEFINES CUSTOM FONTS: 'Lobster' and 'OpenSans'*/
@font-face {
  font-family: "lobster";
  src: url("fonts/Lobster-Regular.ttf");
}
@font-face {
  font-family: "opensans";
  src: url("fonts/open_sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "opensansbold";
  src: url("fonts/open_sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "opensansitalic";
  src: url("fonts/open_sans/OpenSans-Italic.ttf");
}

/*My Custom Classes Go Here: Store Combined TailwindCSS classes for frequently used elements */
@layer base {
    /*******************************************NAVBAR STYLES*******************************************/
    /** Main 'nav' tag styles:
     * Ref: https://www.devwares.com/blog/how-to-create-a-beautiful-responsive-navbar-using-tailwind-css/
    */
    nav {
      /* Applies a shadowy 3D outline to navbar*/
      @apply shadow-lg; 
      /* Applies background color: light grey */
      @apply bg-gray-100;
      /* These properties make the navbar sticky on screens above 640px width by using the 'sm' qualifier*/
      @apply sm:sticky; 
      @apply sm:top-0;
      @apply z-10;
      /* Horizontal padding */
      @apply sm:px-6; 
      /* Vertical padding (increase on screens > 640px width) */
      @apply py-2;
      @apply sm:py-4;
      /* Makes the navbar go all across the width of the page */
      @apply w-full;
    }
    /*Navbar container for all the navbar content: use a row (flex) */
    .nav-container {
      @apply flex;
    }
    /**Styles for the container for the links in the navbar (display only on screens larger than 640px!) */
    .nav-container span {
      /* Hide links mobile screens in favour of menu button */
      @apply hidden; 
      /* Display links on screens above 640px width */
      @apply sm:flex; 
      /* Font settings */
      @apply font-semibold;
      @apply font-opensans;
      @apply text-base;
    }
    /* Container in navbar showing the blog title (on screens larger than 640px) */
    .title-container {
      @apply font-lobster;
      /* Flex direction: vertical */
      @apply flex-col;
      /* Put logo/blog title on top */
      @apply justify-start;
      /* Margin styles */
      @apply ml-0;
      @apply mr-4;
      /* Text size */
      @apply text-2xl;
    }
    /* Styles for containers wrapping navbar links to other pages within the author/reader page */
    .nav-link {
      @apply flex-col;
      /* Put the nav links at the bottom of the navbar (in contrast to the large logo, which starts at the top
       */
      @apply justify-end;
      /* Use margin-top: 1 to position links better in relation to (large) blog title/logo */
      @apply mt-1;
    }
    /* Styling for the actual links in the navbar*/
    .nav-link a {
      @apply text-base;
      @apply px-3;
    }
    /* Styling for the 'Reader Home' link container (ON THE RIGHT OF THE NAVBAR):display: 
      on the Author pages/vice versa 
    */
    .position-on-right {
      @apply ml-auto; /* Forces this link to go to the right/end of the navbar */
      @apply text-base;
    }
    /* Link which toggles between the Reader/Author page */
    .change-site-link {
      /* Hide the link on small screens and use collapisble menu with Menu button instead!*/
      @apply hidden; 
      @apply sm:flex;
      @apply px-2;
      @apply font-opensans;
      @apply font-semibold;
      @apply underline;
      /* Link color properties */
      @apply text-amber-700;
      @apply hover:text-blue-600;
    }
    /* Container for Menu button: shown only on mobile screens with less than 640 px width!*/
    .menu-button-container {
      /* Hide menu button on screens > 640px width */
      @apply flex;
      @apply sm:hidden; 
      /* Must center the menu button vertically*/
      @apply items-center;
      @apply py-2;
    }
    /* Styling for the Menu Button 'button' tag element */
    .menu-button {
      @apply outline-none;
    }
    /*Container for the hidden vertical, collapsible menu which is only accessible on phones*/
    .hidden-menu {
      @apply font-opensans;
      /* This was difficult: 
        forcing this menu to cover the whole width of the phone is essential for a modern look!
      */
      @apply w-full;
      @apply sm:hidden;
    }
    /* Styles for the navbar links in the vertical menu toggleable on phones */
    .hidden-menu ul li a {
      /* Make vertical list of links in this collapsible menu */
      @apply block;
      @apply text-center;
      @apply text-sm;
      /* Padding properties */
      @apply px-2;
      @apply py-4;
      @apply font-semibold;
      @apply underline;
      @apply active:text-amber-600;
      @apply visited:text-amber-800;
    }
    /**As TailwindCSS does not apply auto-styling to h1,h2 etc. tags, lets implement it for all of them here*/
    h1 {
      /**Smallest screens margins*/
      @apply m-4; 
      /**Screens above 640px: increase margins*/
      @apply sm:m-8; 
      /**Increase header size as screen size increases*/
      @apply text-4xl;  
      @apply sm:text-5xl;
    }
    h2 {
      @apply m-4;
      @apply sm:m-5; 
      @apply text-3xl; 
      @apply sm:text-4xl;
      @apply font-semibold;
    }
    h3 {
      @apply m-4;
      @apply text-2xl; 
      @apply sm:text-3xl;
    }
    h4 {
      @apply m-4;
      @apply text-xl; 
      @apply sm:text-2xl;
    }
    h5 {
        @apply text-lg;
        @apply sm:text-xl;
        @apply font-bold;
        @apply mb-4;
    }
    h6 {
        @apply text-base;
        @apply sm:text-lg;
        @apply font-semibold;
        @apply mb-4;
    }
    a:hover {
        @apply text-blue-500 underline;
    }
    p {
        @apply text-base/7; /*Line spacing --> 7*/
    }
    /*Styling for the footer on every page*/
    footer {
      @apply bg-gray-200;
      @apply border-2;
      @apply border-gray-300;
      @apply font-opensansbold;
    }
    footer div {
      @apply mx-auto;
      @apply w-full;
      @apply max-w-screen-xl;
      @apply p-4;
      @apply py-4;
      @apply lg:py-4;
    }
    /* Creates a general custom template class for button styling (e.g. Create Draft button) */
    /* Then add individual button color-classes from Tailwind inline in the EJS files */
    .basic-button {
      /* Put a shadow around button as an indicator user should click on it/is a clickable element */
      @apply shadow-md;
      @apply shadow-slate-400;
      /* Increase shadow when button is clicked */
      @apply hover:shadow-xl;
      @apply hover:shadow-slate-800;
      @apply text-white;
      /* Padding */
      @apply py-2;
      @apply px-4;
      /* Rounded button borders to look less jarring */
      @apply rounded;
      /* Turn cursor into pointer icon to highlight the fact that user should click here */
      @apply cursor-pointer;
    }
    /*Link on single column mobile pages to navigate to either draft or published articles*/
    .small-screens-navigation-helper-link {
      @apply sm:hidden;
      @apply underline;
      @apply text-sm;
      @apply active:text-blue-600;
      @apply hover:text-blue-800;
      @apply visited:text-amber-700;
    }
    /*Styles for the draft articles and published articles containers on the Author Home page*/
    .author-home-articles-container {
      @apply font-opensans;
      /*Apply responsive paddings/margins to draft/published article containers*/
      /* Small screen paddings */
      @apply px-4;
      @apply py-2;
      /* Screens over 640px width paddings */
      @apply sm:px-6;
      @apply sm:py-4; 
      /* Small screen margins */
      @apply m-4;
      /* Margins for screens over 640px */
      @apply sm:m-6;
      /* Background color */
      @apply bg-blue-100;
      /* Rounded borders */
      @apply rounded;
      /* Author Home articles containers layout confiuration */
      @apply grid;
      @apply content-start; /* Articles vertically at the top */
      @apply justify-items-center; /* Articles horizontally in center */
      @apply gap-6; /* Space between each article */
    }
    /* Container for each individual article: make this a custom class because it is reused for BOTH
    the published articles AND the draft articles! */
    .author-home-article-card {
      /*Padding*/
      @apply p-6;
      @apply px-10;
      /*Color and shape of card*/
      @apply rounded-lg;
      @apply bg-white;
      @apply shadow-md;
      @apply shadow-zinc-400;
      @apply hover:shadow-xl;
      @apply hover:shadow-zinc-900;
      /*Card layout*/
      @apply flex-col;
      @apply justify-center;
      @apply space-y-2;
      /*Ensures all cards are the same size for a neater appearance*/
      @apply h-full;
    }
    /*Space around each bit of article info (e.g. datetimes, title etc.) inside of each article card*/
    .article-card-author-home div {
      @apply my-2;
    }
    /*Make buttons for edit/delete etc. be inline using flex*/
    .author-home-article-forms-container {
      @apply flex;
      @apply flex-wrap;
      @apply justify-start;
      @apply content-start;
    }
    /* Author Home Interact with Article Buttons: General Template for Form Buttons (e.g. Edit, Delete) */
    .form-button {
      @apply rounded-lg;
      @apply text-white;
      /* Make form elements the same width as the others for them to be inline s*/
      @apply w-max;
      @apply max-w-max;
      @apply text-base;
      /* Padding */
      @apply px-5;
      @apply py-2.5;
      /* Margins */
      @apply my-1;
      @apply mx-2;
      @apply cursor-pointer;
    }

    /***************Repeated Custom Styles specific to Reused Error (Bad Form input) messages**************/
    /*Styling for div containing error msgs for bad form input*/
    .errors-container {
      @apply font-opensans;
      @apply grid;
      @apply text-center;
      /*Apply dark orange instead of red for error messages, as red is quite harsh for the user */
      @apply text-orange-600;
      /*Requires a margin on smaller sizes, otherwise fills from edge-to-edge and looks very bad...*/
      @apply m-4;
      @apply sm:m-0;
    }
    /*Add bullet points to error list*/
    .errors-container ul {
      @apply list-disc;
      /*Ensures the bullet points are always next to the text*/
      @apply list-inside;
    }
    /*Add margin around listed errors*/
    .errors-container ul li {
      @apply m-2;
    }

    /***********************Repeated Custom Styles specific to 'Author - Settings' page**********************/
    .settings-form-label-input-pair {
      /*Mobile screens form inputs layout: label always on top of the input */
      @apply flex-col;
      @apply flex-nowrap;
      /*Larger screens: put label + input INLINE */
      @apply sm:grid;
      @apply sm:grid-cols-4;
      @apply sm:gap-4;
    }
    .settings-form-label-input-pair label {
      @apply font-opensansbold;
      @apply sm:mr-2;
      /*Make the label span the whole column for screens larger than 640px width*/
      @apply sm:col-span-1;
      /* Margin and padding for form input labels */
      @apply mt-2.5;
      @apply p-2.5;
    }
    .settings-form-label-input-pair input {
      @apply sm:col-span-3;
      @apply bg-gray-50;
      @apply border;
      @apply border-gray-300;
      @apply text-gray-900;
      @apply text-sm;
      @apply rounded-lg;
      @apply focus:outline-none;
      @apply focus:border-blue-600;
      @apply focus:border-2;
      @apply block;
      @apply w-full;
      @apply p-2;
    }

    /*******************************Repeated Styles specific to 'Reader' home page*********************************/
    .reader-home-articles-container {
      /*Show 1 col of articles on mobile screens*/
      @apply grid;
      @apply gap-4;
      /* Show 2 cols of articles only on small screens > 640px width*/
      @apply sm:grid-cols-2;
      /* Show 4 cols of articles only on large screens > 1024px width*/
      @apply lg:grid-cols-4;
      @apply place-items-center;
      @apply auto-rows-auto;
    }
    .article-card-reader-home {
      /* Make all article sections the same size*/
      @apply h-full;
      @apply col-span-1;
      /*Show article information in a column*/
      @apply flex-col;
      @apply space-y-4;
      @apply justify-evenly;
      @apply rounded-lg;
      /*Padding for article cards*/
      @apply p-6;
      @apply px-10;
      /*Color for article cards*/
      @apply bg-white;
      @apply shadow-md;
      @apply shadow-zinc-400;
      @apply hover:shadow-xl;
      @apply hover:shadow-zinc-900;
    }
}  

@tailwind components;
@tailwind utilities;